/* Main Stylings */

* {
    margin:0;
    padding:0;
    }

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size:13px;
    color:#666666;
    background-color: #4d4d4d;
    text-align: center;
    }

p {
    margin-bottom:1em;
    }

img {
    border:0;
    }

a {
    text-decoration:none;
    color: #6688aa;
    }
a:hover {
    color:#4d4d4d;
    }

input, textarea, option {
    font-size: 0.85em;
    padding: 2px 4px 2px 4px;
}

/* Structure */
#wrapper {
    width:95%;
    margin: auto;
    background-color: white;
    text-align: left;
    }
#header {
    height:5em;
    border-bottom:10px solid #4d4d4d;
    line-height:5em;
    padding-left:20px;
    }
#sidebar {
    width:17%;
    float: left;
    padding: 5px;
    background-color:#ececec;
    }
#body {
    width: 78%;
    float: left;
    padding: 5px;
    /*border: 1px solid red;*/
    left: 200px;
    overflow: auto;
    }
#footer {
    clear:both;
    padding:15px 20px;
    font-size: 0.85em;
    }


/* Sidebar */

#sidebar ul {
    list-style-type:none;
    margin-bottom:15px;
    background-color:#ffffff;
    padding:5px;
    }
#sidebar li {
    background:url(images/sidebar-li.png) no-repeat;
    background-position:0px 0;
    height:1.5em;
    padding-left:22px;
    padding-top:1px;
    }
#sidebar img {
    padding:5px;
    border:1px solid #dddddd;
    }
#sidebar a {
    font-weight:normal;
    }
#sidebar p {
    font-size:1.2em;
    font-weight:normal;
    background-color:#4d4d4d;
    color:#ffffff;
    padding:2px 5px;
    margin: 0;
    }


/* Headings */
h1 a {
    font-size:28px;
    letter-spacing:-1px;
    font-weight:normal;
    color:#88CBD2;
    }
h2 a {
    font-size:2em;
    font-weight:normal;
    letter-spacing:-1px;
    }
h3 {
    margin: 15px 0 10px 0;
}


/* Footer */

#footer-nav {
    text-align:left;
    }
#footer-nav a {
    margin-right:20px;
    }
#copyright {
    text-align:center;
    margin-top:20px;
    }

/* Admin panel */
table.itemList {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    width: 100%;
    margin-top: 1em;
}
.itemList td, .itemList th {
    padding: 2px 4px 2px 4px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

td.delete_col {
    width: 40px;
}

.editForm td {
    padding-right: 5px;
}

.okButton input {
    width: 4em;
    font-size: 1em;
}

.createNew {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 0;
}

.deleteButton {
    font-weight: bold;
    font-size: 1.1em;
}

.error {
    margin-left: 15px;
}

.errorlist {
    margin: 5px 5px 0 0;
    color: red;
    font-weight: bold;
}
.errorlist li {
    list-style-type: none;
}

.adminTextarea {
    width: 450px;
}

.adminTextInput, select {
    width: 14em;
}

/* CALENDARS & CLOCKS */
.calendarbox, .clockbox { margin:5px auto; font-size:11px; width:16em; text-align:center; background:white; position:relative; }
.clockbox { width:auto; }
.calendar { margin:0; padding: 0; }
.calendar table { margin:0; padding:0; border-collapse:collapse; background:white; width:99%; }
.calendar caption, .calendarbox h2 { margin: 0; font-size:11px; text-align:center; border-top:none; }
.calendar th { font-size:10px; color:#666; padding:2px 3px; text-align:center; background:#e1e1e1 url(/appengine_admin_media/images/nav-bg.gif) 0 50% repeat-x; border-bottom:1px solid #ddd; }
.calendar td { font-size:11px; text-align: center; padding: 0; border-top:1px solid #eee; border-bottom:none; }
.calendar td.selected a { background: #C9DBED; }
.calendar td.nonday { background:#efefef; }
.calendar td.today a { background:#ffc; }
.calendar td a, .timelist a { display: block; font-weight:bold; padding:4px; text-decoration: none; color:#444; }
.calendar td a:hover, .timelist a:hover { background: #5b80b2; color:white; }
.calendar td a:active, .timelist a:active { background: #036; color:white; }
.calendarnav { font-size:10px; text-align: center; color:#ccc; margin:0; padding:1px 3px; }
.calendarnav a:link, #calendarnav a:visited, #calendarnav a:hover { color: #999; }
.calendar-shortcuts { background:white; font-size:10px; line-height:11px; border-top:1px solid #eee; padding:3px 0 4px; color:#ccc; }
.calendarbox .calendarnav-previous, .calendarbox .calendarnav-next { display:block; position:absolute; font-weight:bold; font-size:12px; background:#C9DBED url(/appengine_admin_media/images/default-bg.gif) bottom left repeat-x; padding:1px 4px 2px 4px; color:white; }
.calendarnav-previous:hover, .calendarnav-next:hover { background:#036; }
.calendarnav-previous { top:0; left:0; }
.calendarnav-next { top:0; right:0; }
.calendar-cancel { margin:0 !important; padding:0; font-size:10px; background:#e1e1e1 url(/appengine_admin_media/images/admin/nav-bg.gif) 0 50% repeat-x;  border-top:1px solid #ddd; }
.calendar-cancel a { padding:2px; color:#999; }
ul.timelist, .timelist li { list-style-type:none; margin:0; padding:0; }
.timelist a { padding:2px; }
